<div class="card p-4" style="background-color: pink;">
  <div class="container-fluid mb-4">

    <div class="row">
      
      <div class="col mb-4" *ngFor = "let recipe of recipes; trackBy: trackById">
        <div class="card mb-3 p-3" style = "width: 340px;"  >

          <img class="mx-auto img-fluid"
           [src]="recipe.imagen" alt="{{ recipe.imagen }}" />
          <div class="card-body">

            <h5 class="card-title">{{recipe.nombre}} </h5>
            <ul>
              @for(etiqueta of recipe.etiquetas; track etiqueta){
                <li>
                  {{etiqueta}}
                </li>
              }
            </ul>
            <p><strong>Porciones:</strong>{{recipe.porciones}}</p>
            
            <p><strong> # Ingredientes: </strong>{{recipe.ingredientes.length}}</p>

            <a [routerLink]="['/recipe', recipe.id]" class="btn btn-secondary mt-3"> Ver la receta</a>

          </div>
        </div>
      </div>

      
    </div>



  </div>
</div>