<div class="container mt-4">

    @if (recipe) {
      <div class="row">
        <div class="col-md-6">
          <h2>{{ recipe.nombre }}</h2>
          <img
            class="recipe-detail-img"
            [src]="recipe.imagen"
            alt="{{ recipe.imagen }}"
          />
          <div class="text-left" ><button class="btn btn-secondary mt-3" [routerLink]="['/recipe']">Regresar</button></div>
          
        </div>
        <div class="col-md-6">
          <p><strong>Porciones:</strong> {{ recipe.porciones }}</p>
          <p><strong>Tiempo:</strong> {{ recipe.tiempo_minutos }} min</p>
          <h3>Ingredientes</h3>
          <p> <strong> Ingrediente mas usado: </strong> {{ingredienteMasUsado(recipe)}} </p>
          <app-ingredient-list
            [ingredients]="recipe.ingredientes"
          ></app-ingredient-list>

          <h3>Pasos</h3>
          <ol>
            @for(step of recipe.pasos; track step){
            <li>
              {{ step }}
            </li>
            }
          </ol>
        </div>
      </div>
  }
</div>